<div>
  <div
    *ngIf="pelicula && pelicula.backdrop_path"
    [ngStyle]="{
      height: '60vh',
      backgroundImage: 'url(' + URL_DETALLE + pelicula.backdrop_path + ')',
      backgroundSize: 'cover',
      display: 'flex',
      padding: '20px'
    }"
  >
    <div>
      <img
        *ngIf="pelicula && pelicula.poster_path"
        [src]="URL_DETALLE + pelicula.poster_path"
        [alt]="pelicula.title"
        style="width: 400px"
      />
    </div>
    <div style="background: rgba(0, 0, 0, 0.5); padding: 20px">
      <a href="/" style="color: white; text-decoration: none; font-size: 25px">
        Volver al inicio / {{ pelicula.title }}
      </a>
      <h2 style="color: white">{{ pelicula.title }}</h2>
      <p style="color: white">{{ pelicula.overview }}</p>
    </div>
  </div>

  <div style="margin: 5px">
    <div class="row">
      <h1>Actores</h1>
      <div
        class="col-md-3"
        *ngFor="let actor of credito"
        style="
          margin-bottom: 40px;
          display: flex;
          height: 100%;
          overflow: hidden;
        "
      >
        <img
          [src]="
            actor.profile_path
              ? URL_DETALLE + actor.profile_path
              : 'http://phobic-heat.surge.sh/images/no_image.jpg'
          "
          [alt]="actor.name"
          style="width: 40%; height: 100%"
        />
        <div
          style="
            padding: 10px;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
          "
        >
          <h5>{{ actor.name }}</h5>
          <p>{{ actor.character }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
